.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #FFD700 !important;
  border-radius: 10px;
}

.carousel .carousel-indicators {
  justify-content: center;
}

.mobileWrapper {
    width: 100%;
    height: auto;
}
