.courseHeader,
.aboutHeader,
.principalHeader,
.infoHeader,
.downloadHeader,
.examinationHeader,
.notificationHeader,
.galleryHeader,
.loginHeader,
.alumniHeader,
.contactHeader,
.newsHeader,
.rulesHeader,
.applicationHeader,
.staffHeader {
    background: url('../assets/background_new.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
  }
  
  .aboutTitle,
  .aboutTitle,
  .courseTitle,
  .principalTitle,
  .infoTitle,
  .downloadTitle,
  .examinationTitle,
  .notificationTitle,
  .galleryTitle,
  .loginTitle,
  .alumniTitle,
  .contactTitle,
  .newsTitle,
  .rulesTitle,
  .applicationTitle,
  .staffTitle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: "Open Sans",sans-serif;
    bottom: 0;
  }
  
  .cardText,
  .principalMessage {
    font-family: "Open Sans", sans-serif;
}

.customHr {
  border: none;
  border-top: 2px solid #654321;
  width: 5vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.customHr2 {
  border: none;
  border-top: 2px solid #FFFFFF;
  width: 5vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

::placeholder {
  color: #654321;
}