* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
